#bibbase_header a {
    text-decoration: none;
}

#bibbase_header i {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}



/* the class bibbase_group */
.bibbase_group {
    /* background-color: #D0D0E0; */
    background-color: #E0E0E0;
    font-style: italic;
    font-size: larger;
    text-shadow: 0px 0px 3px #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px;
    padding: 5px 40px 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.bibbase_group_body {
    margin-left: 20px;
}


img.bibbase_icon {
    width: 20px;
    max-height: 20px;
    vertical-align: text-top;
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}

img.bibbase_icon:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}


/* span.bibbase_icon_text { */
/*     display: none; */
/* } */

.bibbase_code {
    width: 80%
}

.comment {
    font-size: smaller;
    font-style: italic;
    color: gray;
}

.recommended {
    color: green;
}

/* bootstrap */

.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 20px;
    overflow-wrap: break-word;
}

.bibbase.link {
	display: inline-block;
	padding: 0 0px 0 0px;
	line-height: 20px;
	font-size: 1em;
	font-style: normal;
	text-decoration: none;
	color: #71c8ec;
	text-transform: uppercase;
	font-weight: 700;
}


.bibbase_paper_content {
    font-size: smaller;
}

/* common.css */
.bibbase_paper {
    margin-bottom: 5px;
}


.bibbase_paper_title {
        font-size: 1.2em;
	font-weight: 300;
	color: gray;
	width: 50%;
	line-height: 1.8em;
	margin: 1em auto;
}

.bibbase_paper_title a {
    color:green /*inherit !important;*/
   /* text-decoration: none !important; */
}

.bibbase_paper_title a:hover {
    border-bottom: 1px dotted #ccc;
}

.bibbase_paper_author {
    color:gray;
    font-weight: 500;
}

/* This is basically controlled by .link */
.bibbase_paper_author a {
    color:blue;
}

/* This works because no over in .link */
.bibbase_paper_author a:hover {
    color:blue;
}


span.bibbase_group_count {
    font-size: smaller;
}

.bibbase_group_head i {
    display: inline-block;
    width: 20px;
}


.bibbase_msg {
    text-align: center;
    width: 80%;
    margin: auto;
}

#bibbase_embed_modal {
    width: 70%;
    left: 15%;
    margin: 0;
}

.bibbase.well {
    margin: 20px;
    overflow-wrap: break-word;
}

.bibbase_paper_content {
    font-size: smaller;
}

.bibbase_paper_content a {
    text-decoration: none;
}

.bibbase.read {
    border-radius: 3px 3px 3px 3px;
    color: #bbb !important;
    padding: 1px 8px 1px 8px;
    display: inline-block;
    /* width: 20px; */
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s, background-color 0.5s;
    -webkit-transition: width 0.5s, background-color 0.5s;
    vertical-align: middle;
    font-size: 1vh;
}

.bibbase.read span {
    width: 0px;
}

.bibbase.read.hasread {
    color: #63CF5F !important;
}

.bibbase.read:hover {
    background-color: #ddd;
    width: 20vh;
}

.bibbase.read:hover span {
    width: inherit;
}

.bibbase.read.hidden {
    /* #LATER: Remove this class for logged in users. */
    display: none;
}

#bibbase li {
    list-style: none;
}
